%section.bg-primary#about
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading The premier Varisty Basketball tournament for Fredericton.
        %hr.light
        %p.text-faded
          This is the 16th Annual Delta Lions Den Classic Basketball Tournament. We encourage participation from all of Eastern Canada: New Brunswick, Nova Scotia, PEI, Newfoundland, and Quebec. This is reflected in the teams that have competed in previous years. 
        %a{:href => "#teams", :class => "page-scroll btn btn-default btn-xl sr-button"}
          Teams
