%aside.bg-dark
	%div.container.text-center
		%div.call-to-action
			%h2 Free Download at Start Bootstrap!
			%a{:href => "http://startbootstrap.com/template-overviews/creative/", :class => "btn btn-default btn-xl sr-button"}
				Download Now!
				