%header
  %div.header-content
    %div.header-content-inner
      %h1#homeHeading 2016 Delta Lions Den Classic
      %hr
      %p
        The premier Varisty Basketball tournament for Fredericton.
      %h2 November 25 - 27, 2016
      %h2 Leo Hayes High School
      %a{:href => "#hotel", :class => "btn btn-primary btn-xl page-scroll"}
        Tournament Hotel
