%header
  %div.header-content
    %div.header-content-inner
      %h1#homeHeading 2016 Delta Lions Den Classic
      %hr
      %p
        The premier Varisty Basketball tournament for Fredericton.
      %h2 November 25 - 27, 2016
      %h2 Leo Hayes High School
      %a.btn.btn-primary.btn-xl.page-scroll{:href => "#hotel"}
        Tournament Hotel

      %p
      %p

      %div.col-lg-4.col-lg-offset-4
        %table.table
          %tr
            %td.bgo-blue.td-large
              $10
            %td.bgo-gray.td-large
              Weekend Pass
          %tr
            %td.bgo-blue.td-large
              $5
            %td.bgo-gray.td-large
              Game Pass
