%section#hotel
  %div.container
    %div.row
      %div.col-lg-12.text-center
        %h2.section-heading Tournament Hotel
        %hr.primary
  %div.container
    %div.row
      %div.col-lg-offset-3.col-lg-3.text-center
        / %div.service-box
        %img{:src => "images/logo/DeltaHotels-logo.png", :class => "images-responsive", :alt => ""}
      %div.col-lg-3.text-center
        / %div.service-box
        / %h3 Delta Hotels Fredericton
        %p.text-muted 
          Special rate of $109 per night for single/double rooms. Coaches to contact Kelly Waugh to arrange a block of rooms for their team at kelly.waugh@deltahotels.com 506.451.7913
    %div.row
      %div.col-lg-12.text-center
        / %div.service-box
        %hr
        %p.text-muted 
          DELTA FREDERICTON IS PLEASED TO BE HOST HOTEL TO THE LION’S DEN CLASSIC BASKETBALL TOURNAMENT
