%section#organizers
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Tournament Organizers
        %hr.primary
        %p
          Do you have any questions about the tournament? Get in contact with one of our organizers and we will respond to your inquiry.
      %div.col-lg-4.col-lg-offset-2.text-center
        %img{:src => "images/organizers/TrixiePaul-circle-small.png", :class => "images-responsive", :alt => ""}
        %p
          Trixie Paul
      %div.col-lg-4.text-center
        %img{:src => "images/organizers/JanetWilson-circle-small.png", :class => "images-responsive", :alt => ""}
        %p
          Janet Wilson

    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %a{:href => "#contact-us", :class => "btn btn-primary btn-xl page-scroll"}
          Contact Us
