%section#schedule
  %div.container
    %div.row
      %div.col-lg-12.text-center
        %h2.section-heading Schedule
        %hr.primary
    %div.col-lg-8.col-md-offset-2.text-center
      %div.table-responsive
        %table.table
          %thead
          %tbody
            %tr 
              %td
              %td.td-large.bg-blue{:colspan => 3} Leo Hayes High School 
              %td.td-large.bg-gray{:colspan => 3} École Les Éclaireurs 
            %tr
              %td
              %td.td-medium.bg-dark{:colspan => 6} Friday
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 12:00PM
              %td.td-medium.bg-blue RHS
              %td.td-medium.bg-blue WHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 2:00PM
              %td.td-medium.bg-blue SJHS
              %td.td-medium.bg-blue HTHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle M 
              %td 
              %td 
              %td 
              %td.td-medium.bg-gray 3:45PM
              %td.td-medium.bg-gray MVHS
              %td.td-medium.bg-gray RHS
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 4:00PM
              %td.td-medium.bg-blue FHS
              %td.td-medium.bg-blue SJHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle W 
              %td 
              %td 
              %td 
              %td.td-medium.bg-gray 5:30PM
              %td.td-medium.bg-gray MVHS
              %td.td-medium.bg-gray DHS
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 6:00PM
              %td.td-medium.bg-blue NNEC
              %td.td-medium.bg-blue LHHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle M 
              %td 
              %td 
              %td 
              %td.td-medium.bg-gray 7:30PM
              %td.td-medium.bg-gray DHS
              %td.td-medium.bg-gray KVHS
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 8:00PM
              %td.td-medium.bg-blue CHHS
              %td.td-medium.bg-blue LHHS
              %td 
              %td 
              %td 
            %tr
              %td 
              %td.td-medium.bg-dark{:colspan => 6} Saturday
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 9:00AM
              %td.td-medium.bg-blue LHHS
              %td.td-medium.bg-blue HTHS
              %td.td-medium.bg-gray 9:00AM
              %td.td-medium.bg-gray RHS
              %td.td-medium.bg-gray MVHS
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 10:45AM
              %td.td-medium.bg-blue LHHS
              %td.td-medium.bg-blue RHS
              %td.td-medium.bg-gray 10:45AM
              %td.td-medium.bg-gray SJHS
              %td.td-medium.bg-gray DHS
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 12:30PM
              %td.td-medium.bg-blue DHS
              %td.td-medium.bg-blue WHS
              %td.td-medium.bg-gray 12:30PM
              %td.td-medium.bg-gray SJHS
              %td.td-medium.bg-gray NNEC
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 2:15PM
              %td.td-medium.bg-blue CHHS
              %td.td-medium.bg-blue MVHS
              %td.td-medium.bg-gray 2:15PM
              %td.td-medium.bg-gray FHS
              %td.td-medium.bg-gray KVHS
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 4:00PM
              %td.td-medium.bg-blue RHS
              %td.td-medium.bg-blue DHS
              %td.td-medium.bg-gray 4:00PM
              %td.td-medium.bg-gray MVHS
              %td.td-medium.bg-gray WHS
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 5:45PM
              %td.td-medium.bg-blue FHS
              %td.td-medium.bg-blue DHS
              %td.td-medium.bg-gray 5:45PM
              %td.td-medium.bg-gray CHHS
              %td.td-medium.bg-gray RHS
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 7:15PM
              %td.td-medium.bg-blue SJHS
              %td.td-medium.bg-blue LHHS
              %td.td-medium.bg-gray 7:15PM
              %td.td-medium.bg-gray NNEC
              %td.td-medium.bg-gray HTHS
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 9:00PM
              %td.td-medium.bg-blue MVHS
              %td.td-medium.bg-blue LHHS
              %td.td-medium.bg-gray 9:00PM
              %td.td-medium.bg-gray KVHS
              %td.td-medium.bg-gray SJHS
            %tr
              %td 
              %td.td-medium.bg-dark{:colspan => 6} Sunday
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 9:00AM
              %td.td-medium.bg-blue B2
              %td.td-medium.bg-blue A1
              %td.td-medium.bg-gray 9:00AM
              %td.td-medium.bg-gray A2
              %td.td-medium.bg-gray B1
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 11:00AM
              %td.td-medium.bg-blue B2
              %td.td-medium.bg-blue A1
              %td.td-medium.bg-gray 11:00AM
              %td.td-medium.bg-gray A2
              %td.td-medium.bg-gray B1
            %tr
              %td
                %div.numberCircle W 
              %td.td-medium.bg-blue 1:30PM
              %td.td-medium.bg-blue{:colspan => 2} Womens FINAL
              %td
              %td
              %td
            %tr
              %td
                %div.numberCircle M 
              %td.td-medium.bg-blue 3:30PM
              %td.td-medium.bg-blue{:colspan => 2} Mens FINAL
              %td 
              %td 
              %td 
