%section#schedule
  %div.container
    %div.row
      %div.col-lg-12.text-center
        %h2.section-heading Schedule
        %hr.primary
    %div.col-lg-8.col-md-offset-2.text-center
      %div.table-responsive
        %table.table
          %thead
          %tbody
            %tr 
              %td
              %td.bg-blue{:colspan => 3} Leo Hayes High School 
              %td.bg-gray{:colspan => 3} École Les Éclaireurs 
            %tr
              %td
              %td.bg-dark{:colspan => 6} Friday
            %tr
              %td
                %div.numberCircle W 
              %td 12:00PM
              %td RHS
              %td WHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle W 
              %td 2:00PM
              %td SJHS
              %td HTHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle M 
              %td 
              %td 
              %td 
              %td 3:45PM
              %td MVHS
              %td RHS
            %tr
              %td
                %div.numberCircle M 
              %td 4:00PM
              %td FHS
              %td SJHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle W 
              %td 
              %td 
              %td 
              %td 5:30PM
              %td MVHS
              %td DHS
            %tr
              %td
                %div.numberCircle W 
              %td 6:00PM
              %td NNEC
              %td LHHS
              %td 
              %td 
              %td 
            %tr
              %td
                %div.numberCircle M 
              %td 
              %td 
              %td 
              %td 7:30PM
              %td DHS
              %td KVHS
            %tr
              %td
                %div.numberCircle M 
              %td 8:00PM
              %td CHHS
              %td LHHS
              %td 
              %td 
              %td 
            %tr
              %td 
              %td.bg-dark{:colspan => 6} Saturday
            %tr
              %td
                %div.numberCircle W 
              %td 9:00AM
              %td LHHS
              %td HTHS
              %td 9:00AM
              %td RHS
              %td MVHS
            %tr
              %td
                %div.numberCircle M 
              %td 10:45AM
              %td LHHS
              %td RHS
              %td 10:45AM
              %td SJHS
              %td DHS
            %tr
              %td
                %div.numberCircle W 
              %td 12:30PM
              %td DHS
              %td WHS
              %td 12:30PM
              %td SJHS
              %td NNEC
            %tr
              %td
                %div.numberCircle M 
              %td 2:15PM
              %td CHHS
              %td MVHS
              %td 2:15PM
              %td FHS
              %td KVHS
            %tr
              %td
                %div.numberCircle W 
              %td 4:00PM
              %td RHS
              %td DHS
              %td 4:00PM
              %td MVHS
              %td WHS
            %tr
              %td
                %div.numberCircle M 
              %td 5:45PM
              %td FHS
              %td DHS
              %td 5:45PM
              %td CHHS
              %td RHS
            %tr
              %td
                %div.numberCircle W 
              %td 7:15PM
              %td SJHS
              %td LHHS
              %td 7:15PM
              %td NNEC
              %td HTHS
            %tr
              %td
                %div.numberCircle M 
              %td 9:00PM
              %td MVHS
              %td LHHS
              %td 9:00PM
              %td KVHS
              %td SJHS
            %tr
              %td 
              %td.bg-dark{:colspan => 6} Sunday
            %tr
              %td
                %div.numberCircle W 
              %td 9:00AM
              %td B2
              %td A1
              %td 9:00AM
              %td A2
              %td B1
            %tr
              %td
                %div.numberCircle M 
              %td 11:00AM
              %td B2
              %td A1
              %td 11:00AM
              %td A2
              %td B1
            %tr
              %td
                %div.numberCircle W 
              %td 1:30PM
              %td{:colspan => 2} Womens FINAL
              %td
              %td
              %td
            %tr
              %td
                %div.numberCircle M 
              %td 3:30PM
              %td{:colspan => 2} Mens FINAL
              %td 
              %td 
              %td 
