%section#sponsors
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Sponsors
        %hr.primary
        %p
          Leo Hayes Varsity Basketball would like to thank the following sponsors for their generous support in this tournament and throughout the basketball season.
    %div.row
      %div.col-lg-2.col-lg-offset-2.text-center
        / %i.fa.fa-phone.fa-3x.sr-contact
        %img{:src => "images/sponsors/DeltaFredericton-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
        %p
          %a{:href => "http://www.marriott.com/hotels/travel/yfcdf-delta-hotels-fredericton/"}
            Delta Hotels Fredericton
      %div.col-lg-2.text-center
        / %i.fa.fa-envelope-o.fa-3x.sr-contact
        %img{:src => "images/sponsors/NMBA-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
        %p
          %a{:href => "http://www.nmbalions.org"}
            Northside Minor Basketball Association
      %div.col-lg-2.text-center
        / %i.fa.fa-envelope-o.fa-3x.sr-contact
        %img{:src => "images/sponsors/StMarys-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
        %p
          %a{:href => "http://www.stmarysretail.com/supermarket"}
            St. Mary's Supermarket
      %div.col-lg-2.text-center
        / %i.fa.fa-envelope-o.fa-3x.sr-contact
        %img{:src => "images/sponsors/PapaJohns-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
        %p
          %a{:href => "https://www.papajohns.com/locations/ca/nb/fredriction/e3a1e1/269-main-street/10828"}
            Papa John's Pizza Northside
    %div.row
      %div.col-lg-2.col-lg-offset-2.text-center
        / %i.fa.fa-envelope-o.fa-3x.sr-contact
        %img{:src => "images/sponsors/BigMitch-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
        %p
          %a{:href => "https://www.facebook.com/BigMitchClaybournProductions/"}
            Big Mitch Productions
      -# %div.col-lg-2.text-center
      -#   / %i.fa.fa-envelope-o.fa-3x.sr-contact
      -#   %img{:src => "images/sponsors/BMO-logo-circle-small.png", :class => "images-responsive", :alt => "", :width => 100, :height => 100}
      -#   %p
      -#     %a{:href => "http://nesbittburns.bmo.com/fredericton"}
      -#       BMO Nesbitt Burns Fredericton
