%section#sponsors
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Sponsors
        %hr.primary
        %p 
          Leo Hayes Varsity Basketball would like to thank the following sponsors for their generous support in this tournament and throughout the basketball season.
      %div.col-lg-4.col-lg-offset-2.text-center
        / %i.fa.fa-phone.fa-3x.sr-contact
        %img{:src => "images/sponsors/DeltaFredericton-logo.png", :class => "images-responsive", :alt => ""}
        %p 
          %a{:href => "http://www.marriott.com/hotels/travel/yfcdf-delta-hotels-fredericton/"} 
            Delta Hotels Fredericton
      %div.col-lg-4.text-center
        / %i.fa.fa-envelope-o.fa-3x.sr-contact
        %img{:src => "images/sponsors/NMBA-logo-small.png", :class => "images-responsive", :alt => ""}
        %p
          %a{:href => "http://www.nmbalions.org"} 
            Northside Minor Basketball Association
