%section#teams
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h1.section-heading Mens Teams
        %hr.primary
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2 Pool A
    %div.row
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
          %img{:src => "images/logo/LeoHayes-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Leo Hayes Lions
          %p.text-muted
            Keith Grosse
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
          %img{:src => "images/logo/ColeHarbour-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Cole Harbour Cavaliers
          %p.text-muted
            Kevin Downey
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
          %img{:src => "images/logo/MiramichiValley-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Miramichi Valley Pulamoo
          %p.text-muted
            James Watters
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-heart.text-primary.sr-icons
          %img{:src => "images/logo/Rothesay-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Rothesay Red Hawks
          %p.text-muted
            Ryan Chase
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2 Pool B
    %div.row
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
          %img{:src => "images/logo/Fredericton-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Fredericton Black Kats
          %p.text-muted
            Mike King
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
          %img{:src => "images/logo/Dartmouth-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Dartmouth Spartans
          %p.text-muted
            Lance Sparks
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
          %img{:src => "images/logo/SaintJohn-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Saint John Greyhounds
          %p.text-muted
            Jeff White
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-heart.text-primary.sr-icons
          %img{:src => "images/logo/KennebecasisValley-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Kennebecasis Valley Crusaders
          %p.text-muted
            Paul Vaughan
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %hr.light
        %h1.section-heading Womens Teams
        %hr.primary
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2 Pool A
    %div.row
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
          %img{:src => "images/logo/LeoHayes-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Leo Hayes Lions
          %p.text-muted
            Jackie Kerr
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
          %img{:src => "images/logo/NorthNova-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 North Nova Gryphons
          %p.text-muted
            Andy MacKay
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
          %img{:src => "images/logo/HarrisonTrimble-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Harrison Trimble Trojans
          %p.text-muted
            Todd McKillop
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-heart.text-primary.sr-icons
          %img{:src => "images/logo/SaintJohn-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Saint John Greyhounds
          %p.text-muted
            Jillian Wilton
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2 Pool B
    %div.row
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-diamond.text-primary.sr-icons
          %img{:src => "images/logo/Riverview-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Riverview Royals
          %p.text-muted
            Armand Doucet
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-paper-plane.text-primary.sr-icons
          %img{:src => "images/logo/Dartmouth-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Dartmouth Spartans
          %p.text-muted
            Jason Wilson
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-newspaper-o.text-primary.sr-icons
          %img{:src => "images/logo/MiramichiValley-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Miramichi Valley Pulamoo
          %p.text-muted
            Matt Sweezey
      %div.col-lg-3.col-md-6.text-center
        %div.service-box
          / %i.fa.fa-4x.fa-heart.text-primary.sr-icons
          %img{:src => "images/logo/Woodstock-circle-logo.png", :class => "images-responsive", :alt => "", :height => 100, :width => 100}
          %h3 Woodstock Thunder
          %p.text-muted
            Dana Lawrence
