%section#venues
  %div.container
    %div.row
      %div.col-lg-8.col-lg-offset-2.text-center
        %h2.section-heading Venues
        %hr.primary
        / %p
        /   Games will be played at these venues.
      %div.col-lg-4.col-lg-offset-2.text-center
        %img{:src => "images/venues/LHHS-LionsDen.png", :class => "images-responsive", :alt => ""}
        %p
          %iframe{ :src =>  "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2772.6081491935283!2d-66.62393948492681!3d45.97908547911045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ca418bfb1793ecd%3A0xf2bb1de2e9bac097!2sLeo+Hayes+High+School!5e0!3m2!1sen!2sca!4v1476383956742", :frameborder => "0", :style => "border:0"}
        %p
          Leo Hayes High School, 499 Cliffe St, Fredericton, NB, E3A 9P5

      %div.col-lg-4.text-center
        %img{:src => "images/venues/Eclaireurs-LionsDen.png", :class => "images-responsive", :alt => ""}
        %p
          École Les Éclaireurs, 160 promenade Eco Terra, Fredericton, NB, E3A 9M1
